body{
    background-color: rgb(221, 152, 103)

}
h1{
    color: blue;
    text-align: center;
}
title{
    padding: 5px;
    padding-bottom: 0rem

}
p {
    font-weight: bold;
}
h2{
    color: darkblue;
}
div{
    text-decoration: rgb(0, 253, 110);
    text-emphasis-color: 800px;
    
ul{
text-align: initial-letter: ;
}
ul{
    text-align: initial;
}
span{
    text-align: center;
}
title{
    border: inset;
}
